body{
    width: 100%;
    font-family: Ubuntu, sans-serif;
    text-align: center;
}
table{
    max-width: 320px;
    border:1px solid rgb(191, 208, 224);
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
}
thead td, tfoot td{
    background-color: #7fb9c2;
}
thead td{
    font-size: xx-large;
    font-weight: bold;
}

  th{
      background-color: #628ca6;
      color: white;
      font-size: large;
      display: table-cell;
      border:0.5px solid rgb(191, 208, 224);
      padding: 10px 20px;
  }
  tr{
    background-color: #e7f0ed;
    font-size: large;
    border:0.5px solid rgb(191, 208, 224);
}
td{
    border:0.5px solid rgb(191, 208, 224);
    padding: 7.5px 15px;
    font-size: medium;
}
  tr:nth-child(2n+1){
    background-color: #e7ffed;
  }

  tfoot td{
    font-size: small;
}

  