/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

.hide{
    display: none;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #F2AA4CFF;
    display: flex;
}
header img{
    float: left;
    margin-right: 10px;
    width: 50px;
}
header h1 {margin: 0; font-size: 1.3rem;}
header h2 {margin: 0; font-weight: normal; font-size: 1rem;}

/*----------- NAVIGATION --------------*/
nav {
    background-color: #666;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: #eee;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}


nav ul li a:hover {
    background-color: #aaa;
    color: #333;
}
nav ul li.active a {
    background-color: #000;
    color: #fff;
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}

.row-imagen-texto{
position: relative;
}

.row-imagen-texto .texto{
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: xx-small;
    padding-left: 10px;
    padding-top: 5px;
    color: #333;
    background-color: white;
    border-radius: 5%;
    border-width: 3px;
    border-color: #333;
    margin: 0px;
    width: 90px;
    height: 70px;

}


.row-imagen-texto .texto ul{
    padding-left: 20px;
    margin-top: 3px;
}

.row-imagen-texto .imagen{

}

.contendor-flex{
    margin-bottom: 10px;
}

.contendor-flex p{
    margin: 20px;
}
/*----------- FOOTER --------------*/
footer {
    background-color: #fbdbb1;
    padding: .5rem 2%;
    text-align: center;
}

.footer-line{
    margin: 5px;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

main h1,h2,h3,h4{
    padding: 0 2%;
}

body{
    margin: 0;
}
main{
    padding: 0;
}

img{
    width: 100%;
    max-width: 100%;
    max-height: 300px;
}

