/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

main  {
    max-width: 64rem;
    margin:auto;
}

footer{
    max-width: 100%;
}

/*----------- HEADER --------------*/

header, nav{
    max-width: 100%;
}

nav ul{
    max-width: 64rem;
    margin: 0 auto;
}

.header-content{
    max-width: 64rem;
    width: 100%;
    margin: auto;
}
nav ul li {float: left;}

nav ul li a{padding: .5rem 1rem;}
/*----------- MAIN --------------*/
.row-imagen-texto .texto {
    font-size: medium;
}

#fivedays div{
    width: 18%;
}

}